.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
  box-shadow: 5px 11px 20px 0px #a199ff85;
  min-width: 100px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.item-key {
  font-size: 14px;
  margin-right: 6px;
  color: #a199ff;
}

.age {
  font-size: 20px;
  font-weight: 800;
}
